{{paper-toolbar pageTitle="引言" isDemo=false }}
{{#paper-content scroll-y=true class="layout-padding"}}
    <div class="doc-content">
        <h2>欢迎来到 ember paper </h2>
    </div>
{{/paper-content}}
{{outlet}}
