{{page-toolbar pageTitle="DDAU Data Down Actions Up" isDemo=false}}

{{#paper-content class="md-padding"}}
<div>
    {{#ddau-demo props=props2 data=model nextPagec=(action 'nextPager' 'para') nextPage2 =(action 'nextPage2')}}
    {{/ddau-demo}}
    <p>{{props1}}</p>
</div>
{{/paper-content}}